<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
      >

<div layout:fragment="content">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    
   <div class="carousel-inner">
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="0" xmlns="http://www.w3.org/2000/svg"  focusable="false">
        <img src="assets/img/top_event_banner_1.png" width="100%" height="100%"> 
        </svg>

      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"  focusable="false">
		<img src="assets/img/top_event_banner_2.png" width="100%" height="100%">
		</svg>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"  focusable="false">
		<img src="assets/img/top_event_banner_3.png" width="100%" height="100%">
		</svg>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"  focusable="false">
		<img src="assets/img/top_event_banner_4.png" width="100%" height="100%">
		</svg>
      </div>  
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
   </div>

<!-- 베스트상품 -->
<br><br><br>
 <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777"/>
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>베스트상품 1</h2>
        <p>베스트상품1 설명</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
     
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>베스트 상품 2</h2>
        <p>베스트상품2 설명</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>베스트 상품 3</h2>
        <p>베스트상품2 설명</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

   </div><!-- /.row -->

    <!-- START THE FEATURETTES -->
<!-- 오늘의 특가 -->
   <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">오늘의 특가</h2>
        <p class="lead">오늘의 특가 상품 설명입니다</p>
      </div>
      <div class="col-md-5">
        <img src="#">
      </div>
    </div>
   
<!-- 새벽배송 상품 -->
	<hr class="featurette-divider">
	<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">새벽배송 상품 모음</h2>
        <div class="col-md-5">
        	<ul>
        		<li>새벽배송상품</li>
        		<li>새벽배송상품</li>
        		<li>새벽배송상품</li>
        		<li>새벽배송상품</li>
        	</ul>
      	</div>
      </div>
  	</div>
<!-- 전체 상품 -->
	<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">전체상품</h2>
        <div class="col-md-5">
        	<ul>
        		<li>전체상품</li>
        	</ul>
      	</div>
      </div>
  	</div>

 </div>
</div>
</html>